/* $Id: tiny.css,v 1.1 2009/03/20 01:29:46 erick Exp $ */
.calendar {
  border-width: 1px;
  font-size: 8px;
}

.calendar table {
  font-size: 8px;
}

.calendar tbody .day { width: 1.5em; }
