.modificarDatos{
	position: absolute;
	background-color: white;
	visibility: hidden;
	z-index: 1;
}

.modificarDatos_tabla td{
	padding-left: 5px;
}
#botonCorreo {
	cursor: pointer;
	color: red;
	font-weight: bold;
}

#panelCorreo {
	display: none;
	position: absolute;
	width: 220px;
	left: 465px;
	background-color: #ffffff;
	border-bottom: solid #44659B 1px;
	border-right: solid #44659B 1px;
	padding: 4px;
}

#botonPassword {
	cursor: pointer;
	color: red;
	font-weight: bold;
}

#panelPassword {
	display: none;
	position: absolute;
	width: 226px;
	top: 55px;
	background-color: #ffffff;
	border: solid #44659B 1px;
}

