@CHARSET "ISO-8859-1";
/*
 * colores: #CCCCCC(border), #333333(text), #E5FEC1(line), #7EBEBE(hover), #539A9E, #487F93(text_hover)
 AZUL MATE: #E5FEC1
 * http://mx.answers.yahoo.com/question/index?qid=20090119160259AAiP7nG
 */
 
* {
 font-family: Arial, Helvetica, sans-serif !important;
}
body {
	font-size: 11px;
	background-color: #EAEBED;
	margin: 0;
 	padding: 0;
}
/*
 * Open Table class="opentable nogrid with_hover"
 */
.open_table {
	border: solid #CCCCCC 1px;
	border-right: none;
	table-layout: fixed;
	background-color: #ffffff;
	table-layout: fixed;
	border-collapse: collapse;
}
.open_table.nogrid{
	border-right: solid #CCCCCC 1px !important;
}
/* Para filas intercaladas*/
.open_table .line{
	background-color: #D6F2F9 !important; 
}
/* Para formularios*/
.open_table td.label, .open_table th.label{ 
	vertical-align: top;
	padding-top: 5px;
	font-weight: bold;
	text-indent: 3px;
	background-color: #D6F2F9 !important; 
}
/* Partes del table*/
.open_table caption {
	background-image: url(../img/bg_table_caption.gif);
	background-repeat: repeat-x;
	background-position: top;
	border: solid #CCCCCC 1px;
	border-bottom: none;
	padding: 3px;
	text-align: left;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-transform: uppercase;
	/*height: 14px; problemas de incompatibilidas*/
}

.open_table thead tr{
	background-color: #DDDDDD;
}
.open_table thead tr th, .open_table thead tr td{
	border-right: 1px solid #CCCCCC;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
}
.open_table thead tr th {
	text-transform: capitalize;
	text-align: center;
}
.open_table thead tr td {
	text-transform: none;
	text-align: left;
	color: #5c5c5c;
}
.open_table.nogrid th, .open_table.nogrid td {
	border-right: none; 
}
.open_table tbody tr {
	height: 18px;
}
.open_table.with_hover tbody tr:hover {
	background-color: #7EBEBE;
}
.open_table tbody tr th, .open_table tbody tr td {
	border-right: 1px solid #CCCCCC;
	font-size: 11px;
	padding: 3px;
}

.open_table tfoot tr {
	border-right: 1px solid #CCCCCC;
	background-color: #CCCCCC;
}
.open_table tfoot tr th, .open_table tfoot tr td {
	border-right: 1px solid #CCCCCC;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	padding: 3px;
}
/* Bordes a celdas manuales */ 
.open_table .border-top, .open_table .border-t{
	border-top: solid #CCCCCC 1px !important;
}
.open_table .border-bottom, .open_table .border-b{
	border-bottom: solid #CCCCCC 1px !important;
}
.open_table .border-right, .open_table .border-r{
	border-right: solid #CCCCCC 1px !important;
}
.open_table .border-left, .open_table .border-l{
	border-left: solid #CCCCCC 1px !important;
}
/* Para paginación */
.open_table .pagination{
	float:right;
}
.open_table .pagination span{
	width:20px; 
	display:block; 
	float:left;
	text-align:center;
}
.open_table .pagination span a{
	text-decoration: none;
	color: black;
}
/* Pata tablas anidadas *//***** Revisar compatibilidaes, usado en misdatos(del admin) y menu opciones!!!****/
.open_table td table td{
	border-right: none; 
}
.open_table .open_table td{
	border-right: 1px solid #CCCCCC !important;
}
/* Para divs */
.open_border{
	border: 1px solid #CCCCCC;
		
}
/* Para grillas (drag&drop) */
.open_grid{
	border: 1px solid #CCCCCC;
	padding: 0px;
	background-image: url("../img/bg_grid.gif");
}
.open_grid .line{
	background-color:  #DDDDDD;
	padding: 3px;
	font-weight: bold;
	color: #5c5c5c;
}
/*
 * Links
 */
a, .link {
	color: #000000;
	cursor: pointer;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;	
}
a:hover, .link:hover {
	color: #666666;
	text-decoration: underline;
}
/*
 * Form
 */
input[type='text'], input[type='password'], textarea, select  {
	font-size: 11px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	padding: 1px;
}
input:hover {
    background-color: #DDFFAC;
}
input[type='submit'], input[type='button'], input[type='reset'], button {
	/*background: white url("../img/bg_input_button.jpg") no-repeat top;
    background-attachment: fixed;*//*para IE6*/
	background-image: url("../img/bg_input_button.jpg");
	background-color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	color: #3C3C3C;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	border-bottom: 1px solid #909090;
	border-right: 1px solid #909090;
	height: 22px;
	text-align: center;
	cursor: pointer;
}
input[type='submit']:hover, input[type='button']:hover, input[type='reset']:hover, button:hover {
    background-image:none;
}
/*
 * Sortable
 */
tr.rowodd {

}
.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../img/updown.gif);
	height: 20px;
}
.sortasc {
	background-color: #DDFFAC;
	background-image: url(../img/up.gif);
}
.sortdesc {
	background-color: #B9DDFF;
	background-image: url(../img/down.gif);
}
.nosort {
	cursor: default;
	background-image: none !important;
}
tr.roweven {
	background-color: #D6F2F9;
}

/*
 * File Chooser 
 */

.solidhex-stylized div.file {   
    background: url('../img/choose-file.gif') no-repeat 0 0;   
    width: 80px;   
    height: 22px;   
    overflow: hidden;   
    cursor: pointer;   
    position: relative;   
}   
.solidhex-stylized div.file input {   
    opacity: 0;   
    -moz-opacity: 0;   
    filter:alpha(opacity=0);   
    height: 100%;   
    width: auto;   
    display: block;   
    cursor: pointer;   
    position: relative;   
}

#bloque_foto #plabel{
	width: 96px;   
    height: 16px;   
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-style: italic;
    font-weight: bold;
    text-indent: 5px;
    padding-top:3px;
    font-size:9px;
    vertical-align: bottom;
}

/*
 * Fixed CSS
 */
.select-free
{
	position:absolute;
	z-index:10;/*any value*/
	overflow:hidden;/*must have*/
	/*width:33em;/*must have for any value*/;
}
.select-free iframe
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

.clearfix:after { /*Corrige divs flotantes que sobresalen del contenedor. Poner al div principal class='clearfix'*/
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;}
.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/*
 * Portal
  */
#columns{
	
}
#columns .column{
	margin: 5px;
	min-height: 100px; /* set a min-height to ensure a target dropzone */
	float: left;
	width: 222px;
	border: 1px solid #CCCCCC;
	padding: 3px;
}
#columns .column_static{
	width: 225px !important;
	border: 0px !important;
}
#columns .draghandle{
	cursor: move;
}
#columns .target {
	border: 1px dashed #AAAAAA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#columns .column .block{
	background-color: white;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
#columns .column .block .draghandle{
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	background-color: #cccccc;
	background-image: url(../img/bg_table_caption.gif);
	background-repeat: repeat-x;
	background-position: top;
	border-bottom: solid #CCCCCC 1px;
	color: #333333;
	text-align: left;
	vertical-align: middle;	
	display: block;
	width: 100%;
	height: 20px;
}

#columns .column .block .draghandle .head_icon{
	float: left;
	padding: 2px 3px 3px 3px;
}
#columns .column .block .draghandle .head_title{
	float: left;
	padding: 4px 3px 0px 3px;
}
#columns .column .block .draghandle .head_btn{
	float: right;
	padding: 4px 4px 0px 0px;
}
#columns .column .block .box {
	overflow-x: hidden;
}
#columns .column .block .box div.demo{
	min-height: 50px;
	color: #aaaaaa;
	text-align: center;
	font-weight: bold;
	padding-top: 30px;
}
#columns .column .block .foot{
	background-color: #cccccc; 
	padding: 3px 3px 3px 3px;
}

/***/
/* ActionMessages:  actionMessageCSS, actionWarningCSS, actionErrorCSS */
/***/

.actionMessageCSS, .actionErrorCSS, .actionWarningCSS {
	/*width: 100%;*/
	border: 2px solid; 
	text-align: left;
	font-size: 11px;
	text-indent: 3px;
}
.actionMessageCSS span, .actionErrorCSS span, .actionWarningCSS span {
	border-bottom: 1px solid; 
	padding: 2px 3px 2px 0px; 
	color:#333333; 
	font-weight: bold;
	display: block;
	font-size: 12px;
}
.actionMessageCSS div, .actionErrorCSS div, .actionWarningCSS div {
	text-align: justify;
	padding: 5px 3px 5px 0px; 
	font-size: 12px;
}

.actionMessageCSS {
	border-color: #C6D880; 
	background-color: #E6EFC2; 
	color: #264409;
}
.actionMessageCSS a {
	color:#264409;
}
.actionMessageCSS span {
	border-bottom-color: #C6D880; 
	background-color: #C6D880; 
}
.actionWarningCSS {
	border-color: #FFD324; 
	background-color: #FFF6BF; 
	color: #514721;
}
.actionWarningCSS a {
	color:#514721;
}
.actionWarningCSS span {
	border-bottom-color: #FFD324; 
	background-color: #FFD324; 
}
.actionErrorCSS {
	border-color: #FBC2C4; 
	background-color: #FBE3E4; 
	color: #8a1f11;
}
.actionErrorCSS a {
	color:#8a1f11;
}
.actionErrorCSS span  {
	border-bottom-color: #FBC2C4; 
	background-color: #FBC2C4; 
}

/*
 * Error Action
 */
#error_action{
	font-size: 12px;
	font-weight: bold;
	padding: 30px; 	
	background-image: url("../img/icon_error.png");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 894px 174px;
}
#error_action .actionErrorCSS ul{
	list-style: none;
	margin-left: 3px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#error_action .actionErrorCSS ul span{
	background-color: transparent;
	border-bottom: none;
	text-indent: 0px;
}
#error_action .actionErrorCSS ul span.errorMessage{
	color:#8a1f11;
}

/*
 * Error jsp
 */
.error_jsp{
	vertical-align: top; 
	padding: 20px;
}
.error_jsp h1{
	margin-bottom: 0px;
	color: #333333;
}
.error_jsp h2{
	margin-top: 0px;
	color: gray;
}

/*
 * Wforms
 */
.errMsg {
	color:#F00 !important;
	display:block;
}

.errFld {
	border: 1px solid #FF0000 !important;
}

/*
 * Anatips
 */
div#anatips_tip { 
	border: 1px solid #7EAAD1; 
	visibility: hidden; 
	background-color: #B0D4E9; 
	color:white; 
	position: absolute; 
	z-index: 100;
	padding: 2px 3px; 
	/*font-weight:bold;*/
	font-size: 8pt;
	opacity: 0.9; 
	filter: alpha(opacity=90);
}

/*
 * Layaout
 */
 
#container{
	width: 991px;
	background-color: #FFFFFF;
	margin: 0px auto 0px auto;
	padding: 0px;
	border: 1px solid #B6B6B6;
	overflow: hidden;
}
#top_menu {
	width: 100%;
	height: 20px;
	background-image: url(../img/bg_table_caption.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #B6B6B6;
	padding: 0px;
}
#top_menu td{
	font-size: 11px;
	white-space: nowrap;
}
#top_menu span#top_campus{
	font-weight: bold;
	text-transform: uppercase;
}
#top_menu span#top_saludo{
	font-weight: bold;
}
#top_menu span#top_usuario{
	color:#487F93;
	font-weight: bold;
}
#top_menu span#top_reloj{
	color:#333333;
}
#banner {
	width: 100%;
	border-bottom: 1px solid #B6B6B6;
	background-image: url(../img/logoT.jpg);
	height: 68px;
	background-repeat: no-repeat;
	padding: 0px;
}
#main_menu {
	height: 22px;
	border-bottom: 1px solid #B6B6B6;
	background-color: #F7F7F7;
}
#body{
	width: 100%-20px;
	padding: 10px;
}

#pie {
	width: 100%;
	clear: both;
	height: 34px;
	background-color: #aaaaaa;
}

#pie div {
	float: left;
	padding:5px;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
}
#pie div a{
	color: #ffffff;
	font-size: 10px;
}
#pie div.right{
	float: right;
	text-align: right;
}

/*
 * Custom
 */
.loading_portal{
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 0px;	
}

.loading_portal_modal{
	position: absolute;
	width: 200px; /* ancho de la capa a centrar */
	/*height: 40px; /* alto de la capa a centrar */
	top: 50%;
	left: 50%;
	margin-left: -100px; /* mitad del ancho de la capa a centrar */
	margin-top: -20px; /* mitad del alto de la capa a centrar */	
	
	padding: 2px;	
	border: 2px solid #eeeeee;
}

.loading_portal_modal div{
	width: 198px; 
	/*height: 38px; */
	
	text-align: center;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
.shadown{
	background-color:#000000;
	position: fixed !important;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/*
 * Mis Datos
 */
 
.open_modal{
	position: fixed !important; 
	position: absolute;
	/*bottom: 0,*/
	top: 50%;
	left: 50%;
	
	display: none; /* usar junto a: e.style.display = 'block';*/
	
	padding: 2px;	
	border: 2px solid #eeeeee;
}

#password_level{
	 background-color:#ffffff; 
	 text-align:center; 
	 border-top: 1px solid #CCCCCC;
	 border-left: 1px solid #CCCCCC;
	 border-bottom: 1px solid #A0A0A0;
	 border-right: 1px solid #A0A0A0;
	 color:#ffffff; 
	 font-weight:bold; 
	 width: 112px; 
	 height: 16px; 
	 background-image:url('../img/icon_clave_dificultad.jpg'); 
	 background-repeat: repeat-y; 
	 background-position: 200px;
}