.portal_servicio_div {
	width: 140px;
	height: 100%;
	cursor: pointer;
	position: relative;
	z-index: 0;
	vertical-align: middle;
}

.calendar {
	border: 0px;
}

.widget_ghost {
	text-align: left;	
}

.portal_selecionando:HOVER {
	background-color: #FFFBE8;
	border-color: #EFDA45;
	cursor: pointer;
}

.portal_menu_selecionando:HOVER {
	text-decoration: underline;
}

/*------------ kike -------*/
.td_encima:HOVER {
	background-color: #0099FF;
}