<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/opencampus</value>
		</property>
	</bean>

	<bean id="baseDAO" class="edu.opencampus.lms.dao.BaseDAO"
		abstract="true" />

	<bean id="avisoDAO" class="edu.opencampus.lms.dao.AvisoDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="buzonDAO" class="edu.opencampus.lms.dao.BuzonDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="cursoDAO" class="edu.opencampus.lms.dao.CursoDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="agendaDAO" class="edu.opencampus.lms.dao.AgendaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="reporteDAO" class="edu.opencampus.lms.dao.ReporteDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="fichaDAO" class="edu.opencampus.lms.dao.FichaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="fichaHerramientaDAO"
		class="edu.opencampus.lms.dao.FichaHerramientaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="fichaRecursoDAO"
		class="edu.opencampus.lms.dao.FichaRecursoDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="fichaUnidadDAO"
		class="edu.opencampus.lms.dao.FichaUnidadDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="fichaUnidadRecursoDAO"
		class="edu.opencampus.lms.dao.FichaUnidadRecursoDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="jerarquiaDAO" class="edu.opencampus.lms.dao.JerarquiaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="laboratorioDAO"
		class="edu.opencampus.lms.dao.LaboratorioDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="matriculaDAO" class="edu.opencampus.lms.dao.MatriculaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="periodoDAO" class="edu.opencampus.lms.dao.PeriodoDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="ingresoDAO" class="edu.opencampus.lms.dao.IngresoDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="publicacionDAO"
		class="edu.opencampus.lms.dao.PublicacionDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="silaboDAO" class="edu.opencampus.lms.dao.SilaboDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="testDAO" class="edu.opencampus.lms.dao.TestDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="trabajoGrupalDAO"
		class="edu.opencampus.lms.dao.TrabajoGrupalDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="trabajoIndividualDAO"
		class="edu.opencampus.lms.dao.TrabajoIndividualDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="usuarioDAO" class="edu.opencampus.lms.dao.UsuarioDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="unidadDAO" class="edu.opencampus.lms.dao.UnidadDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dialogoDAO" class="edu.opencampus.lms.dao.DialogoDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="debateDAO" class="edu.opencampus.lms.dao.DebateDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="aulaVirtualDAO"
		class="edu.opencampus.lms.dao.AulaVirtualDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="etiquetaDAO" class="edu.opencampus.lms.dao.EtiquetaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="especialidadDAO"
		class="edu.opencampus.lms.dao.EspecialidadDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="noticiaDAO" class="edu.opencampus.lms.dao.NoticiaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="foroDAO" class="edu.opencampus.lms.dao.ForoDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="portalDAO" class="edu.opencampus.lms.dao.PortalDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="encuestaDAO" class="edu.opencampus.lms.dao.EncuestaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="anotacionDAO" class="edu.opencampus.lms.dao.AnotacionDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>

	<bean id="foroUsuarioDAO"
		class="edu.opencampus.lms.dao.ForoUsuarioDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="fichaInformeDAO"
		class="edu.opencampus.lms.dao.FichaInformeDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>
